html {
    height: 100%;
}

body {
    background-color: lightslategrey;
    margin          : 0;
    padding         : 0;
    height          : 100%;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 2rem; 
}

.header {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
    align-items    : baseline;
    height         : 10%;
    margin         : 5%;
}

.btn {
    align-self: center;
    height    : 175px;
}

.btn:hover {
    border: 2px solid tan;
}

.message {
    height         : 10%;
    display        : flex;
    justify-content: space-evenly;
    text-transform : capitalize;
}

.weapons {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
    align-items    : baseline;
    height         : 10%;
    margin         : 5%;
}

footer {
    display        : flex;
    justify-content: space-evenly;
    height         : 15%;
    margin         : 5%;
}

.winner {
    visibility: hidden;
    height: 10%;
}