* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color      : papayawhip;
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

html {
  height    : 100%;
}

body {
  background-color: lightslategrey;
  margin          : 0;
  padding         : 0;
  height          : 100%;
  font-family     : Arial, Helvetica, sans-serif;
  font-size       : 2rem; 
}

.title {
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-top     : 3rem;
  font-size      : 48px;
}

.header {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  align-items    : center;
  height         : 10%;
  margin         : 5%;
}

.btn {
  align-self         : center;
  height             : 175px;
  transition-duration: 0.5s;
}

.btn:hover {
  height: 200px;
}

.message {
  height         : 10%;
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
  text-transform : capitalize;
}

.weapons {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  align-items    : center;
  height         : 10%;
  margin         : 5%;
}

footer {
  display        : flex;
  justify-content: space-evenly;
  height         : 15%;
  margin         : 5%;
  border         : 10px outset #111220;
}

.endgame {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 10%;
}

button {
  font-size  : 100%;
  font-family: inherit;
  border     : 2px solid darkslategrey;
  padding    : 1rem 2rem;
  color      : darkslategray;
}

button:hover {
  background: lightslategray;
  border    : 1px solid papayawhip;
  color     : papayawhip;
}